
        <footer class="teal page-footer">
            <div class="container">
              <div class="row">
                <div class="col l12 s12">

                    <a href="https://github.com/Kmachappy/Runners-Page"><h5 class="center white-text">Github</h5></a>
                 
                
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
                <a class="white-text" href="https://www.amc.com/shows/better-call-saul--1002228">
                    Him? You think the chicken man? What a joke. Alvarez has been paying me for years. Years. But you know what? I would've done it for free because I hate every last one of you psycho sacks of shit. I opened Lalo's gate and I would do it again and I'm glad what they did to him. He's a soulless pig and I wish I killed him with my own hands. And you know what else Hector? I put you in that chair. Oh yeah. Your heart meds? I switched them for sugar pills. You were dead and buried and I had to watch this asshole bring you back. So when you are sitting in your shitty nursing home, and you're sucking down on your Jell-O night after night for the rest of your life, you think of me. You twisted fuck. - Nacho Varga
                </a>
              </div>
            </div>
          </footer>
              