<header>
    <div class="logo-container">
        <a href="/"><img class="logo" src="/images/logo.pn" alt="logo"></a>

    </div>
    <nav>
        <ul class="nav_links">
            <li><a href="#">Home</a></li>
            <li><a href="#">GitHub</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <a class="log-in" href="#"><button>login</button></a>
</header>