<!-- 
    <div class="">

    </div>
    <div class="logo-container">
        <a href="/"><img class="logo" src="/images/logo.pn" alt="logo"></a>
    </div>
    <nav>
        <ul class="nav_links">
            <li><a href="#">Home</a></li>
            <li><a href="#">GitHub</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <a class="log-in" href="#"><button>login</button></a> -->

    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="/" class="brand-logo"><img id="nav-logo" src="/images/logo.png" alt=""></a>
        
          <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="https://github.com/Kmachappy/Runners-Page">GitHub</a></li>
            <li><a href="http://kmachappy.me/">About</a></li>
            <li><a href="#">Log in</a></li>


          </ul>
    
          <ul id="nav-mobile" class="sidenav">
            <li><a href="/">Home</a></li>
            <li><a href="https://github.com/Kmachappy/Runners-Page">GitHub</a></li>
            <li><a href="http://kmachappy.me/">About</a></li>
            <li><a href="#">Log in</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>