<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include("./partials/head.ejs") %> 
<body>
    <main>
        <%- include("./partials/header.ejs") %> 

        <% events.forEach((event)=>{ %>
 
                 <div>
                    <!-- <img src="<%=event.image%> " alt=""> -->
                 </div>   
             
    
        <%}) %> 
    </main>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Runners Page</h1>
            <div class="row center">
              <h5 class="header col s12 light ">A directory of Running Races</h5>
            </div>
            <div class="row center">
              <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
            </div>
            <br><br>
    
          </div>
        </div>
        <div class="parallax"><img id="banner" src="/images/banner2.jpg" alt="banner"></div>
      </div>



</body>
</html>