<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include("./partials/head.ejs") %> 
<body>
    <main>
        <%- include("./partials/header.ejs") %> 
        <h1>Race Page</h1>

        <% events.forEach((event)=>{ %>
 
                 <div>
                    <!-- <img src="<%=event.image%> " alt=""> -->
                 </div>   
             
    
        <%}) %> 
    </main>
</body>
</html>