<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/header.ejs") %> 

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center teal-text text-lighten-2">My Reviews</h1>
          <div class="row center">
            <h5 class="header col s12 light ">A directory of Running Races</h5>
          </div>
          <div class="row center">

          </div>
          <br><br>
  
        </div>
      </div>
      <div class="parallax"><img id="banner" src="/static/images/banner5.jpg" alt="banner"></div>
      </div>
     <br>
     <br>

    </body>
    </html>