
header {
    display: flex;
    background-color: white;
    max-width: 1000px;
    justify-content: space-between;
}

body {
    color: rgb(40, 39, 39);
    width: 80%;
    font-family: 'Raleway', sans-serif;
    margin:auto;
}

main {
    max-width: 1000px;
    max-height: 768px;
    width: 100%;
    margin: auto;
    background-image: url("images/hiking_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#splash {
    display: flex;
    flex-wrap: wrap;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo {
    padding-top: 150px;
    padding-bottom: 150px;
}

.logo img {
    max-width: 275px;
}

.search {
    /* padding-top: 150px; */
    width: 40%;
}

select, button {
    font-family: 'Raleway', sans-serif;

}


/* Style the navigation menu */
#topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#topnav #myLinks {
    display: none;
    margin-right: 50px;

}

/* Style navigation menu links */
#topnav a {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
    display: block;
}

/* Style the hamburger menu */
#topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    /* padding: 14px 16px; */
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
#topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #2e4c0f;
    color: white;
    max-height: 48px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


#navLogo {
    max-height: 30px;
    padding: 0;
}

#siteName {
    max-height: 48px;
    padding: 0;
}

/******************************************
/* search results
/******************************************/

h1 {
    margin-top: 20px;
    text-align: center;
}


.results {
    margin: auto;
    display: flex;
    justify-content: center;
}

#trails {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
}

#trailBoxes {
    display: grid;
    width: fit-content;
    border: 1px solid #696962;
    margin: 10px;
    background-color: white;
    justify-items: center;
    align-items: center;

}

#trailBoxes h4, h5 {
    color: rgb(40, 39, 39);
    font-size: 1.75vh;
    margin: 2px;
}

#trailImg img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 10px;
}

a {
    text-decoration: none;
}


